In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import random
#import the data set required

In [2]:

# Create a SQLite connection
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

In [4]:


# Create the sales_summary table with an auto-incrementing id column
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales_summary (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product TEXT,
    quantity INTEGER,
    price REAL
)
''')
print("DB CREATED...SUCCESSFULLY")

DB CREATED...SUCCESSFULLY

In [5]:

# Define a list of fruits to choose from
fruits = ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry', 'Fig', 'Grape', 'Honeydew', 'Kiwi', 'Lemon']

# Insert 100 rows of random data into the table
sales_data = []
for _ in range(100):
    product = random.choice(fruits)  # Randomly choose a fruit
    quantity = random.randint(1, 50)  # Random quantity between 1 and 50
    price = round(random.uniform(0.99, 9.99), 2)  # Random price between $0.99 and $9.99
    sales_data.append((product, quantity, price))

In [6]:

# Insert the random data into the table
cursor.executemany('''
INSERT INTO sales_summary (product, quantity, price) VALUES (?, ?, ?)
''', sales_data)

# Commit the changes and close the connection
conn.commit()

In [7]:

# Step 2: Query the sales data and display it

# 1. Total quantity sold for each fruit
query_qty = '''
SELECT product, SUM(quantity) AS total_qty
FROM sales_summary
GROUP BY product
'''

# Load the total quantity data into a pandas DataFrame
df_qty = pd.read_sql_query(query_qty, conn)

# 2. Average price per fruit
query_avg_price = '''
SELECT product, AVG(price) AS avg_price
FROM sales_summary
GROUP BY product
'''

# Load the average price data into a pandas DataFrame
df_avg_price = pd.read_sql_query(query_avg_price, conn)

# 3. Total revenue per fruit
query_revenue = '''
SELECT product, SUM(quantity * price) AS revenue
FROM sales_summary
GROUP BY product
'''

# Load the revenue data into a pandas DataFrame
df_revenue = pd.read_sql_query(query_revenue, conn)

# Close the connection
conn.close()

In [8]:

# Print the results
print("Total Quantity Sold per Fruit:\n", df_qty)
print("\nAverage Price per Fruit:\n", df_avg_price)
print("\nTotal Revenue per Fruit:\n", df_revenue)

Total Quantity Sold per Fruit:
       product  total_qty
0       Apple        484
1      Banana        761
2      Cherry        663
3        Date        605
4  Elderberry        523
5         Fig        670
6       Grape        625
7    Honeydew        570
8        Kiwi        212
9       Lemon        574

Average Price per Fruit:
       product  avg_price
0       Apple   5.080000
1      Banana   5.554000
2      Cherry   4.455238
3        Date   5.894762
4  Elderberry   6.695294
5         Fig   5.900714
6       Grape   5.302083
7    Honeydew   5.294211
8        Kiwi   5.596364
9       Lemon   5.733333

Total Revenue per Fruit:
       product  revenue
0       Apple  2417.44
1      Banana  4206.82
2      Cherry  2961.13
3        Date  3743.36
4  Elderberry  3400.33
5         Fig  4153.06
6       Grape  3101.71
7    Honeydew  3161.79
8        Kiwi  1165.78
9       Lemon  3511.00

In [ ]:

# Step 3: Create charts for each query

# Chart 1: Total Quantity Sold per Fruit
df_qty.plot(kind='bar', x='product', y='total_qty', title='Total Quantity Sold per Fruit', color='skyblue')
plt.xlabel('Fruit')
plt.ylabel('Quantity Sold')
plt.savefig("quantity_chart.png")
plt.show()